# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local Virtual Environments
.venv/
venv/
ENV/
env/

# Mac OS files
.DS_Store
.AppleDouble
.LSOverride

# Text-to-Speech Output Files
*.wav
*.mp3

# Local caches
.cache/

# Local Environment Managers
.mise.toml
mise.toml

# Temporary Test Files
*.txt
*.egg-info/
dist/
build/

# Editor
.vscode/
