kokoro-onnx==0.6.1
misaki-fork==0.9.6
fugashi>=1.4.0
jaconv>=0.4.0
mojimoji>=0.0.13
pyopenjtalk>=0.4.1
unidic-lite>=1.0.8
cn2an>=0.5.23
jieba>=0.42.1
ordered-set>=4.1.0
pypinyin>=0.55.0
pypinyin-dict>=0.9.0
sounddevice>=0.5.1
soundfile>=0.13.0
numpy>=2.0.2,<3.0.0
tqdm>=4.65.0
PySide6-Essentials>=6.8,<7
